<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container my-5">
       
      <center> <hr><hr>User Name<input type = "text" id = "name" required="required" ><br><br>
Password<input type = "text" id = "password" ></br></br>
<div class="block">
						<a href="/login" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> LOGIN</i></a>
							
							
							<a href="/register" class="btn btn-primary"> <i
							class="fas fa-user-plus ml-2"> REGISTER</i></a></center>
					
					
</div>

</body>
</html>